<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiyou3g.xiyouhelper.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.xiyou3g.xiyouhelper.model.User">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <insert id="insertUserMessage" keyColumn="sid" keyProperty="sid">
    INSERT INTO user_message(sid, name, gender, college, major, adclass, level, education)
    VALUES(#{sid}, #{name}, #{gender}, #{college}, #{major}, #{adclass}, #{level}, #{education})
  </insert>

  <select id="getNameBySid" resultType="String">
    SELECT name FROM user_message WHERE sid = #{sid}
  </select>

  <select id="isExist" resultType="Integer">
    SELECT COUNT(*) FROM user_message WHERE sid = #{sid}
  </select>

  <select id="getUserBySid" resultType="User">
    SELECT sid, name, gender, college, major, adclass, level, education FROM user_message
    WHERE sid = #{sid}
  </select>

  <insert id="insertUserBookSystemPassword" parameterType="String">
    INSERT INTO user_password (sid, book_system) VALUES (#{username}, #{password})
  </insert>

  <select id="checkUserExisted" resultType="String">
    SELECT password FROM user_password WHERE sid = #{barcode}
  </select>

  <select id="getBookPassword" resultType="String">
    SELECT password FROM user_password WHERE sid = #{barcode}
  </select>

  <select id="isExistUserPassword" resultType="Integer" >
    SELECT COUNT(*) FROM user_password WHERE sid = #{studentNum}
   </select>
</mapper>